{% extends "flight\layout.html" %}
{% block body %}
    <h1>`
        Flight
        <ul>
            <li>id:{{ flight_det.id }}</li>
            <li>origin:{{ flight_det.origin}}</li>
            <li>destination:{{ flight_det.destination}}</li>
            <li>duration:{{ flight_det.duration}}</li>
        </ul>
    </h1>
    <h1>
        Passengers
        <ul>
            {% for passenger in passengers %}
                <li>{{ passenger.first_name }} {{ passenger.last_name }}</li>
            {% empty %}
                <li>No passenger</li>
            {% endfor %}
        </ul>
    </h1>
{% endblock %}
